header{
    text-align: center;
    color: white;
    background-color: black;
    font-size: large;
    padding: auto;
}
.links{
    color: white;    
}
nav ul {
    list-style-type: none ;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    margin: 0 auto;
}
nav ul a{
    text-decoration: none;
}
.show li{
    display: block;
}

h1{
    text-align: center;
    color: black;
}
.figures{
    display: grid;
    grid-template-rows: 1fr 1fr;
}
img{
    text-align: center;
    height: 150px;
    width: 250px;
    margin: 5px;
    padding: 4px;
}
figcaption{
    text-align: center;
    font-size: 10px;
    padding: 3px;
    max-width: 250px;
}
footer{
    text-align: center;
}
#menu{
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: .5rem .75rem;
    background-color: #eee;
    color: #000;
}
#menu::before{
    content:"☰";
}
nav{
    background-color: #ace;
}
.links{
    list-style: none;
    margin: 0 auto;
    max-width: 740px;
}
.links li{
    display:none;
}
.links a{
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: black;
    font-weight: 700;
    transition: .5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
}
.links a:hover,
.links a:active{
    color: white;
    background-color: black;
}
.show li{
    display: block;
}
#menu.show::before{
    content:"X";
}
footer{
    color: white;
    background-color: black;
    line-height: auto;
}
/* .show{
    
} */
@media screen and (min-width: 700px){
    .figures{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    nav ul {
    list-style-type: none;
    max-width: 500px;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    }
    .links{
        display: flex;
    }
    .links li{
        display: block;
        flex: 1 1 100%;
    }
    .links a{
        text-align: center;
    }
    #menu{
        display: none;
    }

}